@page {
    size: A3;
    margin: 20mm;
}
body {
    background-color: rgb(77, 80, 84);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10px;
}
.main-header {
    background-color: #333;
    color: white;
    padding: 20px;
    height: 50px;
    text-align: center;
}
.product-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: rgb(184, 187, 191);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 30px;
}
.product-image {
    width: 50%;
    margin-right: 20px;
}
.product-image img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
}
.product-details {
    width: 50%;
    padding-left: 10px;
}
.product-title {
    font-size: 2rem;
    color: black;
    margin-top: 0;
}
.price {
    font-size: 2.5em;
    font-weight: bold;
    color: #7d250f;
    margin: 10px 0 20px 0;
}

.description {
    margin-bottom: 25px;
    color:black;
}

.features ul {
    list-style-type: none;
    margin: 0 0 25px 0;
    padding: 0;
}

.features li {
    padding: 5px 0;
    font-size: 1.1em;
}

.add-to-cart-btn, .buy-now-btn {
    background-color: #ffbd5a;
    color: #333;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s;
}


.add-to-cart-btn:hover {
    background-color: #e68a00;
}

.buy-now-btn {
    background-color: #ef9c00;
    margin-bottom: 10px;
}

.buy-now-btn:hover {
    background-color: #db8a10;
}

.stock-info {
    color: green;
    font-weight: bold;
}

.main-footer {
    text-transform: capitalize;
    text-align: center;
    background-color:rgb(101, 96, 88);
}